* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(172, 203, 218);
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 15vh;
    background-color: rgb(0, 47, 117);
    text-align: center;
    position: sticky;
    top: 0;
}

header h1 {
    color: white;
    font-family: poppins, sans-serif;
    font-weight: 900;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 2vh;
    list-style-type: none;
    font-family: poppins, sans-serif;
    font-weight: 400;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover{
    text-decoration: underline;
}

main h1 {
    text-align: center;
    font-family: poppins, sans-serif;
    font-weight: 900;
    margin: 4vh auto;
}

main hr {
    width: 100vw;
    height: 1vh;
    background-color: darkblue;
    margin: 3vh 0;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero img {
    border-radius: 50%;
    margin: 5vh;
}

#hero img:hover {
    outline: 10px solid darkblue;
    cursor: pointer;
}

#hero h2 {
    cursor: pointer;
    font-family: 'Noto sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto 1vh auto;
}

#hero p {
    font-family: 'Noto sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 3vh;
}

#projects h2 {
    font-family: 'Noto sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2vh 1vw;
}

#projects article {
    font-family: 'Noto sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1vh 2vw;
}

#projects article:hover {
    border: 8px solid darkblue;
    box-sizing: border-box;
    padding: 2vh 2vw;
    background-color: rgb(213, 227, 235);
    cursor: pointer;
}

#skills h2 {
    cursor: pointer;
    font-family: 'Noto sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2vh;
}

#skills table {
    margin: auto;
    border: 10px solid darkblue;
    font-family: 'Noto sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#skills th{
    padding: 1vh 2vw;
    border: 2px solid darkblue;
    text-align: center;
    cursor: pointer;
    background-color: darkblue;
    color: white;
}

#skills td {
    padding: 1vh 2vw;
    border: 2px solid darkblue;
    text-align: center;
    cursor: pointer;
}

#skills td:hover {
    background-color: rgb(213, 227, 235);
}

#skills th:hover {
    background-color: rgb(213, 227, 235);
}

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact h2{
    cursor: pointer;
    font-family: 'Noto sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2vh;
}

#contact form{
    text-align: center;
    font-family: 'Noto sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid darkblue;
    width: 60vw;
    height: 60vh;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 2fr;
}

#contact label{
    border: 2px solid darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#contact label[for="email"],label[for="tel"],label[for="msg"]{
    grid-column: 1/2;
}

#contact textarea{
    resize: none;
    background-color: rgb(213, 227, 235);
    font-family: 'Noto sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contact input{
    background-color: rgb(213, 227, 235);
    font-family: 'Noto sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contact input[type="submit"]{
    grid-column: 1/3;
    background-color: darkblue;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-family: poppins, sans-serif;
}

#btp{
    padding: 1vh 2vw;
    font-size: 1rem;
    background-color: darkblue;
    color: white;
    border: 2px solid darkblue;
    position: fixed;
    bottom: 8vh;
    right: 1vw;
    cursor: pointer;
    text-decoration: none;
    font-family: poppins, sans-serif;
}
#btp:hover{
    background-color: rgb(0, 0, 184);
}