/* general styling */
*{
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
}
h2{
    font-family: 'Noto sans',poppins,sans-seif;
}
body{
    background-color: rgb(224, 224, 224);
}

/* Styling the header */
header{
    width: 100vw;
    height: 15vh;
    background-color: rgb(30, 90, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin-left: 2vw;
    color: white;
    font-family:'nato','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
header nav ul{
    display: flex;
    gap: 2vw;
    margin-right: 5vw;
    list-style-type: none;
}
header nav ul li a{
    color: white;
    text-decoration: none;
}

/* hr{
    width: 100vw;
    height: 1vh;
    background-color: darkblue;
    animation: hr 5s ease-in-out infinite alternate;
}

@keyframes hr {
    0%{
        background-color: rgb(0, 0, 170);
    }
    50%{
        background-color: rgb(106, 106, 253);
    }
    100%{
        background-color: cyan;
    }
} */

/* styling the main */
main h1{
    text-align: center;
    margin: 2.5vh;
}

/* styling hero */

#hero{
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#hero img{
    margin-right: 4vw;
    border-radius: 50%;
    cursor: pointer;
}
#hero img:hover{
    outline: 12px solid rgb(33, 103, 255);
}
#heroText{
    margin-left: 5vw;
    font-size: 3rem;
}
#heroText p{
    font-size: 1rem;
}
#fsdText{
    color: orangered;
    animation: fsd 3s linear infinite alternate;
    font-family: 'fira code iScript','fira code','cascadia code','noto sans','poppins',sans-serif;
}

@keyframes fsd{
    0%{
        color: orange;
    }
    50%{
        color: orangered;
    }
    100%{
        color: red;
    }
}

/* styling about */

#about{
    margin-left: 2vw;
    margin-top: 5vh;
}
#about p{
    padding: .5vw 0;
}

/* styling projects */

#projects{
    margin-left: 2vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}
article{
    border-radius: 1vw;
    border: 5px solid rgb(57, 93, 255);
    background-color: white;
    cursor:pointer;
    text-align: center;
    height: 15vh;
    margin: 1.5vh 0;
    transition-duration: 1s;
    padding: 1vh 1vw;
}
article:hover{
    height: 20vh;
    background-color: aliceblue;
}

#skills{
    margin-left: 2vw;
    margin-top: 5vh;
}
#skills h2{
    margin-bottom: 1vh;
}
.card{
    height: 5vh;
    /* width: 15vw; */
    background-color: white;
    padding: 1vh 1vw;
    border: 3px solid rgb(57, 93, 255);
    text-align: center;
    cursor: pointer;
    transition-duration: 1s;
}
.card:hover{
    background-color: aliceblue;
}
.bold{
    font-weight: bolder;
    font-size: 1.25rem;
}

/* styling skills */
#skills .tbody{
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 1vw;
}

/* styling contact */

#contact{
    margin-top: 5vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact form{
    width: 30%;
    background-color: rgb(243, 245, 255);
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 1vh 1vw;
    border-radius: 1vw;
    margin-top: 2vh;
}
#contact form input{
    width: 90%;
    border: 2px solid rgb(57, 93, 255);
    padding: 1vh 1vw;
}
#contact form input[type='submit']{
    width: 99%;
    background-color: rgb(57, 93, 255);
    cursor: pointer;
    color: white;
}
#contact form textarea{
    border: 2px solid rgb(57, 93, 255);
    resize: none;
    width: 98%;
}

/* styling the footer */

footer{
    width: 100%;
    height: 20%;
    background-color: rgb(57, 93, 255);
    text-align: center;
    margin: 5vh 0;
    color: white;
    font-family: poppins, sans-serif;
}

/* styling the back to top button */

#btp{
    padding: 1vh 2vw;
    font-size: 1rem;
    background-color: darkblue;
    color: white;
    border: 2px solid darkblue;
    position: fixed;
    bottom: 8vh;
    right: 1vw;
    cursor: pointer;
    text-decoration: none;
    font-family: poppins, sans-serif;
}
#btp:hover{
    background-color: rgb(0, 0, 184);
}